@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

/* laptop*/
@media screen and (min-width: 910px) and (max-width: 1200px) {
  header {
    padding: 30px;
  }
  .burguer {
    display: none;
  }
  nav {
    padding: 30px 40px 30px 20px;
    margin-right: -30px;
    border-radius: 20px 0 0 20px;
  }
  .logo {
    width: 60px;
  }
  main > h1 {
    font-size: 30px;
    margin-left: 90px;
  }
  .slider {
    width: 1014px;
    height: 690px;
    transform: translateX(-180px);
  }
  .slides {
    margin-top: -100px;
    margin-left: -70px;
  }
  .slide {
    width: 1800px;
    margin-top: 10px;
  }
  .slide span {
    font-size: 20px;
  }
  .slide h1 {
    font-size: 2.2em;
  }
  .slide p {
    color: rgba(255, 255, 255, 0.705);
    font-family: Sansation;
    font-size: 1.2em;
    line-height: 29px;
    width: 450px;
    margin-top: 20px;
  }
  .manual-navigation {
    font-family: Sansation;
    font-size: 1em;
    color: white;
    position: absolute;
    margin-top: 180px;
    display: flex;
    flex-direction: column;
  }
  .manual-btn {
    font-size: 15px;
    margin-left: 50px;
    padding: 20px;
    height: 55px;
    width: 55px;
  }
  .capsula {
    transform: translate(600px, -420px);
    zoom: 80%;
  }
  .porto {
    transform: translate(600px, -420px);
    zoom: 80%;
  }
  .veiculo {
    transform: translate(600px, -450px);
    zoom: 80%;
  }
  #radio1:checked ~ .first {
    margin-top: 0%;
  }
  #radio2:checked ~ .first {
    margin-top: -18.5%;
  }
  #radio3:checked ~ .first {
    margin-top: -37.6%;
  }
}
/* tablet */
@media screen and (min-width: 768px) and (max-width: 910px) {
  body {
    background-image: url(../Imagens/crew/background-crew-tablet.jpg);
  }
  .burguer {
    display: none;
  }
  nav {
    display: flex;
    margin-left: 192px;
    padding: 10px 0 10px 0;
    border-radius: 20px 0 0 20px;
  }
  .logo {
    margin-right: 39px;
    width: 60px;
  }
  main > h1 {
    font-size: 27px;
    margin-left: 30px;
    margin-top: 20px;
  }
  .slider {
    transform: translateX(-191px);
    display: flex;
    width: 769px;
    height: 618px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .slides {
    margin-top: -220px;
    display: flex;
    height: 712px;
    width: 100%;
  }
  .slide {
    flex-direction: column-reverse;
    text-align: center;
    width: 829px;
    margin-top: -132px;
    margin-left: -249px;
  }
  .slide span {
    font-size: 20px;
    margin-left: -350px;
    transform: translate(10px, -250px);
  }
  .slide h1 {
    font-size: 2.2em;
    margin-left: 55px;
    transform: translate(10px, -160px);
  }
  .slide p {
    margin: auto;
    font-size: 1.1em;
    line-height: 29px;
    width: 550px;
    margin-top: 20px;
    transform: translate(10px, 42px);
  }
  #span-veiculo {
    transform: translate(10px, -280px);
  }
  #h1-veiculo {
    transform: translate(55px, -195px);
  }
  .capsula img {
    margin-left: -6500px;
  }
  .capsula {
    zoom: 100%;
    background-image: url(../Imagens/technology/image-space-capsule-landscape.jpg);
    background-repeat: no-repeat;
    transform: translate(60px, 190px);
  }
  .porto img {
    margin-left: -6500px;
  }
  .porto {
    zoom: 100%;
    background-image: url(../Imagens/technology/image-spaceport-landscape.jpg);
    background-repeat: no-repeat;
    transform: translate(60px, 190px);
  }
  .veiculo img {
    margin-left: -6500px;
  }
  .veiculo {
    zoom: 101%;
    background-image: url(../Imagens/technology/image-launch-vehicle-landscape.jpg);
    background-repeat: no-repeat;
    transform: translate(60px, 190px);
  }
  .manual-navigation {
    transform: translate(230px, 59px);
    flex-direction: row;
    font-size: 0.9em;
    margin-top: 625px;
  }
  .manual-btn {
    zoom: 80%;
    margin-left: 25px;
    height: -1px;
    width: -1px;
    padding: 30px;
  }
  #radio1:checked ~ .first {
    margin-top: -17.2%;
  }
  #radio2:checked ~ .first {
    margin-top: -98.5%;
  }
  #radio3:checked ~ .first {
    margin-top: -175%;
  }
}
/* mobile */
@media screen and (max-width: 766px) and (min-width: 320px) {
  body {
    background-image: url(../Imagens/technology/background-technology-mobile.jpg);
  }
  .burguer {
    padding-top: 29px;
    z-index: 1;
    display: block;
    margin-left: 33px;
  }
  .burguer:hover {
    cursor: pointer;
  }
  #itens {
    display: none;
    z-index: 1;
    position: absolute;
    top: -100px;
    right: 0;
    left: 0;
    transform: translate(0px, 165px);
    border-radius: 0;
  }
  header > nav > a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0 0 0;
    font-size: 20px;
  }
  header > nav > a::after {
    background: none;
  }
  .logo {
    width: 50px;
  }
  main > h1 {
    font-size: 20px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .slider {
    background-color: red;
    transform: translate(-350px, -20px);
    width: 585px;
    height: 748px;
  }
  .slides {
    margin-top: 337px;
    display: flex;
    height: 712px;
    width: 100%;
  }
  .slide {
    margin-top: 60px;
  }
  .slide span {
    margin-left: 55px;
    font-size: 15px;
  }
  .slide h1 {
    margin-left: -120px;
    text-align: center;
    font-size: 2em;
  }
  .slide p {
    text-align: center;
    font-size: 1.1em;
    line-height: 29px;
    width: 351px;
    margin-top: 20px;
  }
  .capsula {
    transform: translate(-40px, -930px);
    background-repeat: no-repeat;
    zoom: 75%;
    background-image: url(../Imagens/technology/image-space-capsule-landscape.jpg);
  }
  .capsula img {
    margin-left: -6500px;
  }
  .porto {
    background-image: url(../Imagens/technology/image-spaceport-landscape.jpg);
    background-repeat: no-repeat;
    zoom: 75%;
    transform: translate(-40px, -932px);
  }
  .porto img {
    margin-left: -6500px;
  }
  #radio1:checked ~ .first {
    margin-top: -22%;
  }
  #radio2:checked ~ .first {
    margin-top: -155%;
  }
  #radio3:checked ~ .first {
    margin-top: -230%;
  }
  .navigation-auto {
    margin-left: 87px;
    margin-top: 9px;
  }
  .manual-navigation {
    transform: translate(90px, -265px);
    flex-direction: row;
    font-size: 0.9em;
    margin-top: 625px;
  }
  .manual-btn {
    zoom: 80%;
    margin-left: 25px;
    height: -1px;
    width: -1px;
    padding: 30px;
  }
}
